#nav_menu ul { list-style-type: none; }
#nav_menu ul li { float: left; }
#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 0;      
                            
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; }
#nav_menu ul li a.lastitem { border-right: none; }	
#nav_menu ul li a.current { color: yellow; }
html {
    background-image:linear-gradient(to left, white 0%, #827c74 100%);
}
body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
    width: 95%;
    background-color: palegoldenrod;
    margin: 15px auto;
    padding: 15px 1.5em;
    border: 1px solid black;
    border-radius: 25px;
    box-shadow: 5px 5px 0 0;
}
a:focus, a:hover {
    font-style: normal;
    color:pink;
    border: 3px peachpuff;
    border-style: dotted solid;
}
header h1 {
    font-size: 175%;
    color: palegoldenrod;
    text-indent: 30px;
}
header h2 {
    font-size: 130%;
    color:peachpuff;
    text-indent: 30px;
}
header img {
    float: left;
    margin-left: 2em;
}
.shadow {
    text-shadow: 2px 2px 2px rgb(238, 167, 182);
}
article {
    clear: left;
    width: 70%;
    float: left;
    column-count: 2;
    column-rule: 2px dotted pink;
    column-gap: 2em;
    margin-left: 2em;
}
article h3 {
    column-span: all;
}
article img {
    float: left;
    margin-left: 1em;
    margin-bottom: 1em;
}
article p::first-letter {
    font-size: 3em;
    font-weight: bold;
    font-style: italic;
    color: pink;
}
aside{
    width: 20%;
    float: right;
    position: fixed;
    border: 3px solid blue;
    background-color: #ffebc6; 
}
footer {
    clear: both;
    border-top: 2px solid pink;
}
footer p.copyright {
    text-align: center;
    font-size: 80;
}
p.fixed {
    width: auto;
    position: fixed;
    bottom: 35%;
    right: 0%;
    border: 3px solid pink;
    background-color: peachpuff;
}

