body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
}
a:focus, a:hover {
    font-style: italic;
    color:pink;
}
header h1 {
    font-size: 175%;
    color: palegoldenrod;
    text-indent: 30px;
}
header h2 {
    font-size: 130%;
    color:peachpuff;
    text-indent: 30px;
}